@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F0F0F0;
}
.yellow {
    color: #FEA116;
}
.blue {
    color: #000041;
}
.blend {
    background-blend-mode: multiply;
    background-color: #00000063;
}